@font-face {
  font-family: 'Heuristica';
  src: url('heuristica-regular.eot');
  src: url('heuristica-regular.eot?#iefix') format('embedded-opentype'), url('heuristica-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Heuristica';
  src: url('heuristica-bold.eot');
  src: url('heuristica-bold.eot?#iefix') format('embedded-opentype'), url('heuristica-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Heuristica';
  src: url('heuristica-italic.eot');
  src: url('heuristica-italic.eot?#iefix') format('embedded-opentype'), url('heuristica-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Heuristica';
  src: url('heuristica-bolditalic.eot');
  src: url('heuristica-bolditalic.eot?#iefix') format('embedded-opentype'), url('heuristica-bolditalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
