/*BENY CSS*/

/*layout*/
.full_view {
  background-repeat: no-repeat !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  -o-background-size: cover !important;
  position: relative;
}



/*universal*/
.bike-bold {
    font-family: 'Bike Sans';
    font-weight: bold;
    font-size: 42px;
}
.opacity80 {
    color:rgba(255, 255, 255, 0.8);
}
.opacity40 {
    color:rgba(255, 255, 255, 0.4);
}
.bike-brand {
    position: absolute;
    bottom: 100px;
    left: 100px;
}

.food .bike-brand {
    bottom: 700px;
}

.activity .bike-brand {
    bottom: 0;
    margin-top: 150px;
    position: relative;
}

.home_bike.bike-brand {
    position: absolute;
    bottom: 646px;
    left: 100px;
    pointer-events: none;
}

.bike-brand img{
    opacity: 0.8;
    width: 250px;
}
.bike-brand img:hover {
    opacity: 1;
}

.return_home {
    position: fixed;
    top: 25px;
    right: 25px;
}
.return_home img{
    opacity: 0.8;
    width: 100px;
}
.return_home img:hover {
    opacity: 1;
}

/*roadmap layout*/
.roadmap {
    margin-left: 100px;
    color:#fff !important;
    padding-top: 410px;  
}
.inner_roadmap {
    padding-top: 100px;
    margin-left: 100px;
    color:#fff !important;        
}
.roadmap_header h3{
    text-transform: uppercase;
    font-family: 'Bike Sans';
    font-weight: bold;
    font-style: normal;
    font-size: 46px;
    margin-top: 10px;
}
.inner_roadmap h3.bike-bold {
    margin-top: 0;
}
.roadmap_header img {
    width: 60%;
}


/*fullscreen images*/
img.fullscreen {
    width: 100%;
    height: 100%;
} 

/*images*/
img.nb-logo {
    display: inline-block;
    vertical-align: middle;
    width: 110px;
    margin-left: 15px;
}


/*homepage*/
.directory {
    margin-top: 150px;
    width: 75%;
}

.roadmap .directory:nth-child(2) {
    margin-top: 70px;
}

.directory h2 {
    font-family: 'Bike Sans';
    font-weight: 800;
    font-style: normal;
    font-size: 35px;
    text-transform: uppercase;
    line-height: 1em;
    /*background: #353434;*/
    border-bottom: 5px solid white;
    letter-spacing: 4px;
    color: white;
    padding: 37px 37px;
    padding-bottom: 26px;
    margin-bottom: 43px;
}
.directory h2 a {
    color:rgba(255, 255, 255, 0.8);
}
.directory ul li {
    list-style-type: none;
    line-height: 2em;
    margin-left: 75px;
}

.directory.last li p {
    bottom: -131px;
    width: 130px;
}

.links ul {
    display: flex;
}

.links ul li:first-child {
    margin-left: 0;
}

.square {
    background: white;
    padding: 40px;
    border-radius: 11px;
    position: relative;
    width: 150px;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square p {
    position: absolute;
    bottom: -86px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: bold;
    font-size: 32px;
}

.square img {
    max-height: 65px;
}

.mailing {
    background: #292828;
    border: none;
    border-radius: 100%;
    height: 150px;
    min-width: 150px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 55px;
}

.mailing img {
    width: 60px;
}

.directory ul li p {
    font-family: 'Bike Sans';
    font-size: 28px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.2;
    text-align: left;
}
.directory ul li p a {
    color:rgba(255, 255, 255, 1);
}
.directory ul li p a:hover {
    color:rgba(255, 255, 255, 0.85);
}

.news_btn {
    text-transform: uppercase;
    font-family: 'Bike Sans';
    font-weight: bold;
    background: transparent;
    outline: none;
    border: none;
}

.click_action {
    transition: transform .5s;
}

/*food-index*/
    .food_menu {
        margin-top: 60px;
        width: 60%;
    }
    .food_menu ul {
        border-top: 3px solid rgba(255, 255, 255, 0.8);
        padding-left: 0;
        margin-left: 0;
    }
    .food_menu h2 {
        font-family: 'Bike Sans Extrabold';
        font-size: 64px;
        text-transform: uppercase;
        margin-top: 0;
        line-height: 1em;
        font-style: italic;
    }
    .food_menu h4 {
                font-family: 'Bike Sans';
        font-weight: 900;
        font-style: normal;
        font-size: 38px;
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .food_menu h4 a {
        color:#fff;
    }
    .food_menu h5 {
                        font-family: 'Bike Sans';
        font-weight: 900;
        font-style: normal;
        font-size: 30px;
        margin-top: 10px;
        margin-bottom:30px;
    }
    .food_menu#drinks ul li {
        list-style-type: none;
        line-height: 4em;
        margin-bottom: 35px;
    }
    .food_menu#drinks h2 {
        display: inline-block;
        vertical-align: middle;
    }
    .food_menu#food ul li {
        list-style-type: none;
        line-height: 4em;
        margin-bottom: 0;
    }
    .food_menu#food ul li h4 {
        margin-top: 0;
        font-size: 34px;
    }
    .food_menu ul li p {
        font-family: 'Bike Sans Semibold';
            font-weight: 600;
    font-style: italic;
        font-size: 26px;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.25em;
    }
    .food_menu ul li p a {
        color:rgba(255, 255, 255, 1);
    }
    .food_menu ul li p a:hover {
        color:rgba(255, 255, 255, 0.85);
    }

/*activity pages*/
    .activity_schedule {
        margin-top: 125px;
        width: 70%;
        margin-left: 100px;
    }
    .activity_schedule ul {
        margin-top: 35px;
        padding-left: 0;
        margin-left: 0;
    }
    .activity_schedule h2 {
        font-family: 'Bike Sans Extrabold';
        font-size: 64px;
        text-transform: uppercase;
        margin-top: 0;
        line-height: 2em;
        font-style: italic;
        border-bottom: 3px solid rgba(255, 255, 255, 0.8);
    }
    .activity_schedule h2 span.box {
        border: 3px solid rgba(255, 255, 255, 0.8);
        background: transparent;
        border-radius: 50%;
        border-radius: 40px;
        padding-top: 23px;
    }
    .activity_schedule h2 span a {
        color:rgba(255, 255, 255, 0.4);
    }
    .activity_schedule h2 a:hover {
        color:rgba(255, 255, 255, 1);
    }

    .activity_schedule h3 {
            font-family: 'Bike Sans';
    font-weight: bold;
    font-style: normal;
        font-size: 50px;
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 5px;
        border-bottom: 3px solid rgba(255, 255, 255, 0.8);
        margin-bottom: 35px;
    }
    .activity_schedule h5 {
        font-family: 'Bike-Sans-Extra-Bold';
        font-size: 32px;
        margin-top: 10px;
        margin-bottom:30px;
    }
    .activity_schedule h6 {
        font-family: 'Bike Sans Bold';
        font-weight: bold;
        font-size: 30px;
        text-indent: 10px;
        letter-spacing: 1px;
        margin-top: 25px;
        margin-top: 60px;
        margin-bottom: 50px;
    }
    .activity_schedule ul li p {
        font-family: 'Bike Sans';
        font-weight: bold;
        font-style: normal;
        font-size: 39px;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.25em;
        display: inline-block;
        margin-right: 50px;
        text-transform: capitalize;
        letter-spacing: 1.5px;
        width: 377px;
    }
    .activity_schedule ul li p:first-child {
        min-width: 200px;
        font-weight: 900;
        vertical-align: top;
        width: auto !important;
    }
    .activity_schedule ul li {
        list-style-type: none;
        line-height: 2.5em;
        margin-bottom: 0;
        position: relative;
        margin-bottom: 20px;
    }

    .activity_schedule ul li:after {
        content: 'i';
        border: 3px solid white;
        border-radius: 100%;
        /* width: 95px; */
        /* height: 95px; */
        /* transform: scale(3); */
        font-size: 33px;
        font-weight: bold;
        background: white;
        color: #4f5252;
        padding: 0px 13px;
        position: absolute;
        left: -68px;
        top: 0;
    }

    .background {
        height: 100%;
        min-height: 2440px !important;
        width: 1080px !important;
        background: url(/content/frontend/images/inner_bg.jpg);
        position: fixed;
        z-index: 0;
        background-size: cover !important;
    }


/*info-index*/
.site_description p {
    font-family: 'Bike Sans';
    font-weight: bold;
    font-size: 44px;
    line-height: 1.2em;
    margin-bottom: 50px;
}
.site_description p a {
    color:#fff;
}

.site_description {
    padding-top: 50px;
    margin-left: 100px;
    width: 60%;
    color:#fff !important;        
}













.popup {
  display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}

.popup.success {
    background-color: #67ac57;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popup.success h1 {
    color: white;
    font-size: 93px;
    font-family: 'Bike Sans';
    font-weight: bold;
}

.popup.success p {
    color: white;
    font-size: 42px;
    font-family: 'Bike Sans';
    margin-top: 23px;
}


.popup {
    position: fixed;
    height: 100%;
    z-index: 1000;
    background: #00000078;
    justify-content: center;
    align-items: center;
}

.home .popup_box {
    width: 800px;
    background: white;
    z-index: 4;
    padding: 100px;
    font-family: 'Bike Sans';
}

.home .popup_box label {
    font-size: 30px;
}

.home .popup_box input {
    border: 1px solid black;
    padding: 39px;
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 7px;
    font-family: 'Bike Sans';
    transition: transform .3s;
}

.home .popup_box input[type=submit] {
    width: 200px;
    float: right;
    background: black;
    color: white;
    height: 115px;
    font-weight: bold;
    text-align: center;
}

.popup.success {
    display: none;
}

.home .popup_box input:focus {
    transform: translateX(10px);
    border: 1px solid black !important;
}

.home .popup_box h1 {
    font-family: 'Bike Sans';
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 65px;
}

.activity .popup_drop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.activity .popup_box p {
    color: #0acb83;
    text-align: center;
    margin: 0;
    margin-top: 70px;
    font-size: 43px;
}

.activity .popup_box p.prize {
    color: #ababab;
    text-align: center;
    margin: 0;
    margin-top: 100px;
    font-size: 33px;
    margin-bottom: -41px;
}

.activity .popup_box {
    height: 800px;
    width: 800px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.activity .popup_box img {
    max-width: 500px !important;
    max-height: 300px;
    width: 100%;
}

.popup_drop {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.popup-overlay {
    background: rgba(0,0,0,0.9);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.popup-content {
    position: absolute;
  background: #fff;
    width: 90%;
    height: 50%;
    margin-left:auto;
    margin-right: auto;
    left: 0;
    right:0;
    top:10px;
    z-index: 11;
  padding: 14px;
}
.close-popup {
  display: inline-block;
  position: absolute;
  top: -8px;
  right: -30px;
  font-size: 42px;
}

/* Animations */


.scaleDownIn {
  animation: scaleDownIn 0.5s ease-in both;
  -webkit-animation: scaleDownIn 0.5s ease-in both;
}
.scaleDownOut {
  animation: scaleOut 0.5s ease-in both;
  -webkit-animation: scaleOut 0.5s ease-in both;
}
@keyframes scaleDownIn {
  from { opacity: 0; transform: scale(1.2); }
}
@-webkit-keyframes scaleDownIn {
  from { opacity: 0; -webkit-transform: scale(1.2); }
}
h3.popover-title {
    font-family: 'Bike Sans Book' !important;
}
.popup {
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
}
.popup-content {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}