<span style='color: #000' title='Frames'>  7695</span><span style='color: #009' title='Memory'>  95488.00 KB</span><span style='color: #900' title='Time'> 207828.21 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />